{% extends "layout.html.twig" %}

{% block subtitle %}4文字以下の日本語からSlack用絵文字を生成{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="hidden-xs" style="height:100px;"></div>
            <div class="text-center">
                <a href="{{ path('download', { 'base64': base64 }) }}" style="display:inline-block; margin-bottom:20px;">
                    <img src="{{ 'data:image/png;base64,' ~ base64 }}" style="border:1px solid #eee;">
                </a>
                <div class="hidden-xs" style="height:50px;"></div>
            </div>

            <form action="{{ path('homepage') }}" method="post" class="form-horizontal">
                {{ form_errors(form.moji) }}
                <div class="input-group">
                    {{ form_widget(form.moji, { attr: { maxlength: 4 } }) }}
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">生成</button>
                    </span>
                </div>
                <div class="clearfix mt5">
                    {{ form_widget(form.font) }}
                </div>
            </form>
            <div class="hidden-xs" style="height:100px;"></div>
        </div>
    </div>
{% endblock %}
